.footer{
  padding: 70px 30px;
  text-align: center;
  p{
    color: #000000;
  }
  .footer-a{
    a{
      text-transform: uppercase;
      margin: 10px;
      color: #212326;
      letter-spacing: 2px;
    }
  }
}